<header class="header">
  <span class="logo-text-span">
    <img src="../../assets/img/lego.png" alt="LEGO Logo" class="header-image" />
    <h1 class="header-title">Mindstorm Assembly Assistant</h1>
  </span>
</header>
